@model IEnumerable<Laboratorio.Models.Inmueble>

@{
    ViewData["Title"] = "Listado de Inmuebles";
}

<h1>Inmuebles</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Inmueble</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Dirección</th>
            <th>Uso</th>
            <th>Tipo</th>
            <th>Ambientes</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>@item.Direccion</td>
        <td>@item.Uso</td>
        <td>@item.Tipo</td>
        <td>@item.Ambientes</td>
        <td>@item.Precio</td>
        <td>@item.Estado</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.IdInmuebles" class="btn btn-sm btn-warning">Editar</a>
            <a asp-action="Details" asp-route-id="@item.IdInmuebles" class="btn btn-sm btn-info">Detalles</a>
            <a asp-action="Delete" asp-route-id="@item.IdInmuebles" class="btn btn-sm btn-danger">Eliminar</a>
        </td>
    </tr>
}
    </tbody>
</table>
